name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Скачиваем код
      uses: actions/checkout@v4

    - name: Устанавливаем Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    # ИЗМЕНЕНИЕ 1: Убрали жесткую версию 3.19.0, чтобы качалась последняя
    - name: Устанавливаем Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Устанавливаем зависимости
      run: |
        pip install flet
        pip install -r requirements.txt

    # ИЗМЕНЕНИЕ 2: Добавили "yes |", чтобы робот сам отвечал "y" на вопросы
    - name: Собираем APK
      run: |
        yes | flet build apk smart_pay.py --verbose

    - name: Загружаем готовый файл
      uses: actions/upload-artifact@v4
      with:
        name: SmartPay-Release
        path: build/apk/app-release.apk
